:root {
    --colorOne:rgb(233, 177, 71);
    --colorTwo:rgba(70, 189, 210, 0.487);
    --colorThree:rgb(70, 188, 210);
    --colorFour:rgba(124, 118, 108, 0.71);
    --textLayer:rgba(255, 241, 212);
}
